/* Media Queries */

@media(max-width: 768px){
  body p{
    font-size: 1rem;
  }
  body h1,h2{
    font-size: 2rem;
  }
  .navbar{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 5px 10px;
  }
  .navbar .logo{
    margin: 2px 0 0;
  }
  .navbar li a{
    padding: 5px 10px;
    margin: 0;
    font-size: 16px;
  }
  header.showcase{
    padding: 70px 10px;
  }
  #showcase .showcase-container{
    margin: auto 0;
    width: 100%;
  }
  .showcase-container .txt-col{
    width: 335px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .showcase-container .txt-col h1{
    margin: 0 0 3px;
    font-size: 30px;
  }
  .showcase-container .txt-col p{
    font-size: 16px;
  }
  .showcase-container .txt-col a{
    padding: 10px 15px;
  }

  /* About Section */
  #about > div{
    width: 100%;
    display: block;
  }
  #about .center-heading::after,
  #services .center-heading::after,
  #portfolio .center-heading::after{
    display: none;
  }
  #about .about-txt{
  width: 100%;
  }
  #about .about-txt h2{
    font-size: 20px;
    font-weight: 700;
    margin: 25px 0 10px;
  }
  #about .about-txt p{
    text-align: justify;
    font-size: 14px;
    margin-top: 10px;
  }
  #about .about-txt > div:nth-child(2){
    padding-top: 20px;
  }
  #about .skill-input{
    width: 100%;
  }
  #about .skill-detail{
    width: 100%;
  }
  #about .skill-detail > p{
    font-weight: 700;
    font-size: 14px;
  }
  
  /* Services Section */
  #services > div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 15px 0;
  }
  #services .box{
    width: 100%;
    margin: 10px 0;
  }

  /* Portfolio */
  #portfolio .img-container{
    display: block;
  }
  #portfolio .img-container .image-row{
    display: block;
  }
  #portfolio .image-row:first-child > div:nth-child(3){
    display: none;
  }

  /* Hire Section */
  #hire.hire-section >div{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  #hire.hire-section >div div{
    width: 100%;
    display: block;
    padding: 15px;
  }

  /* Contact section */
  #contact .contact-content{
    display: block;
  }
  .contact-row-2 > div{
    width: 100%;
  }
  #contact .contact-form{
   width: 90%;
   margin: 0 auto;
  }
  .contact-form .input-row{
    display: block;
  }
  .contact-form .input-row .form-controls{
    width: 100%;
  }



}

@media(max-width: 518px){
  /* Utilities */
  body p{
    font-size: 0.875rem;
  }
  body h1,h2{
    font-size: 1.8rem;
  }
  body .padding-class,
  body .padding-class-2{
    padding: 40px 30px;
  }

  /* Header */
  .navbar{
    padding: 5px;
  }
  .navbar li a{
    padding: 3px 5px;
    font-size: 14px;
  }
  header.showcase{
    padding: 70px 10px;
  }
  #showcase .showcase-container{
    margin: auto 0;
    width: 100%;
    height: 50vh;
  }
  #showcase .showcase-container .img-col{
    /* flex-basis: 230px;
    flex-basis: 522px; */
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  #showcase .showcase-container .img-col img{
    width: 100%;
  }
  .showcase-container .txt-col{
    width: 230px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 50px;
  }
  .showcase-container .txt-col h1{
    margin: 0 0 10px;
    font-size: 20px;
  }
  .showcase-container .txt-col p{
    font-size: 12px;
  }
  .showcase-container .txt-col a{
    padding: 10px 15px;
  }

  /* About section */
  #about .center-heading::after,
  #services .center-heading::after{
    display: none; 
  }

  /* Portfolio */
  #portfolio .img-container{
    display: block;
  }

  /* Footer */
  #footer i{
    font-size: 20px;
  }

}

@media(max-width: 380px){
  /* Header */
  .navbar li a{
    padding: 3px 5px;
    font-size: 10px;
  }
  #showcase .showcase-container .img-col{
    -ms-flex-preferred-size: 500px;
    flex-basis: 500px;
    /* flex: 1; */
  }

  /* About section */
  #about .about-txt p{
    font-size: 14px;
  }
  #about .skill-detail > p{
    font-size: 14px;
  }
  #about .center-heading::after,
  #services .center-heading::after{
    display: none;
  }
}
